/* TODO: THIS IS WHERE GLOBAL STYLES, STYLING OPTIONS FOR BUTTONS WILL BE SAVED, THIS WILL BE CHANGED */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* This is the main text font for everything that isnt the word Glance*/

body {
    font-family: 'Fira Sans', sans-serif; 
  }
  
.manrope-custom {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
  }

.fira-sans-regular {
    font-family: "Fira Code", monospace;
    font-weight: 400;
    font-style: normal;
  }

  .title {
    font-size: 4rem; 
    font-weight: bold;
  }
  

  /* hi  */